apiVersion: batch/v1
kind: Job
metadata:
  name: devbox
  labels:
    kueue.x-k8s.io/queue-name: farai
spec:
  suspend: true
  backoffLimit: 0
  podFailurePolicy:
    rules:
    - action: Ignore
      onPodConditions:
      - type: DisruptionTarget
  template:
    spec:
      priorityClassName: interactive
      serviceAccountName: user-emissary
      containers:
        - name: devbox-container
          image: __IMAGE__
          command: ["sleep", "2d"]
          resources:
            requests:
              cpu: __CPU__
            limits:
              memory: __MEMORY__
              nvidia.com/gpu: __GPU__
          env:
          - name: XDG_CACHE_HOME
            value: /node-local-cache/cache
          - name: OMP_NUM_THREADS
            value: "__CPU__"
          - name: GIT_ASKPASS
            value: "true"
          - name: GITHUB_PAT
            valueFrom:
              secretKeyRef:
                name: github-credentials
                key: pat
          - name: GIT_CONFIG_PARAMETERS
            value: "'credential.https://github.com.username=$(GITHUB_PAT)'"
          - name: HF_HOME
            value: "/node-local-cache/huggingface-home"
          - name: HF_TOKEN
            valueFrom:
              secretKeyRef:
                name: huggingface
                key: token
          - name: WANDB_ENTITY
            value: levmckinney
          - name: WANDB_API_KEY
            valueFrom:
              secretKeyRef:
                name: wandb
                key: api-key
          volumeMounts:
          - name: devbox-storage
            mountPath: /home/dev
          - name: node-local-cache
            mountPath: /node-local-cache/cache
          - name: local-huggingface-home
            mountPath: /node-local-cache/huggingface-home
          - name: dshm
            mountPath: /dev/shm
      volumes:
      - name: devbox-storage
        persistentVolumeClaim:
          claimName: "vast-__PROJECT_PVC__"
      - name: node-local-cache
        persistentVolumeClaim:
          claimName: "local-__PROJECT_PVC__"
      - name: local-huggingface-home
        persistentVolumeClaim:
          claimName: local-huggingface-home
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 10Gi
      imagePullSecrets:
      - name: docker
      restartPolicy: Never
